Repository AI-Hypercomputer/maxtext, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RissyRan, @will-cromar, @sshahrokhi, @gkroiz, @chandrasekhard2, @EricLeFort, @jonb377, @JackCaoG, @vanbasten23, @ortibazar, @sganeshb, @brajiang, @wlzhg

.github/CODEOWNERS:

# @RissyRan and @will-cromar will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @RissyRan @will-cromar

dags/solutions_team/configs/flax @sshahrokhi
dags/legacy_test/tests/jax @sshahrokhi

dags/solutions_team/configs/pax @gkroiz

dags/solutions_team/configs/tensorflow @chandrasekhard2 @EricLeFort

dags/pytorch_xla @will-cromar @jonb377 @JackCaoG @vanbasten23
dags/legacy_test/tests/pytorch @will-cromar @jonb377 @JackCaoG @vanbasten23

dags/multipod @jonb377

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg

Migrate MaxText end_to_end to xpk (#197)
  dags/multipod/maxtext_end_to_end.py
  xlml/utils/xpk.py
Owners: @jonb377, @RissyRan, @will-cromar

Constraint dependency versions
  .dockerignore
  constraints.txt
  maxtext_gpu_dependencies.Dockerfile
  requirements.txt
  setup.sh
Owners: @RissyRan, @will-cromar

Copybara import of the project:
  end_to_end/test_mistral.sh
  end_to_end/test_mixtral.sh
Owners: @RissyRan, @will-cromar

Mitali's KV Cache Quantization
  MaxText/configs/base.yml
  MaxText/layers/attentions.py
  MaxText/layers/gemma.py
  MaxText/layers/gpt3.py
  MaxText/layers/llama2.py
  MaxText/layers/mistral.py
  MaxText/layers/models.py
  MaxText/layers/quantizations.py
  MaxText/maxengine.py
Owners: @RissyRan, @will-cromar

change gpu docker images project_id
  .github/workflows/UploadDockerImages.yml
Owners: @RissyRan, @will-cromar

add back tpu docker images
  .github/workflows/UploadDockerImages.yml
Owners: @RissyRan, @will-cromar

converted to helm scripts
  scripts/env_llama.sh
  scripts/helm/Chart.yaml
  scripts/helm/templates/llama_70b.yaml
  scripts/helm/values.yaml
Owners: @RissyRan, @will-cromar

adding back deleted files
  gke/gpu/maxtext_chart/Chart.yaml
  gke/gpu/maxtext_chart/templates/maxtext.yaml
  gke/gpu/maxtext_chart/values.yaml
Owners: @RissyRan, @will-cromar

moved files
  gke/gpu/llama/Chart.yaml
  gke/gpu/llama/templates/llama_70b.yaml
  gke/gpu/llama/values.yaml
Owners: @RissyRan, @will-cromar

reverting unnecessary changes
  gke/gpu/start_training.sh
Owners: @RissyRan, @will-cromar

reverting change
  gpu_multi_process_run.sh
Owners: @RissyRan, @will-cromar

Constraint dependency versions
  .dockerignore
  constraints.txt
  maxtext_gpu_dependencies.Dockerfile
  requirements.txt
  setup.sh
Owners: @RissyRan, @will-cromar

Allow NCCL_DEBUG override
  gpu_multi_process_run.sh
Owners: @RissyRan, @will-cromar

Revert "Fix the issue of creating 8 processes per GPU."
  MaxText/max_utils.py
  gpu_multi_process_run.sh
Owners: @RissyRan, @will-cromar

Fix training command of Gemma in Readme
  getting_started/Run_Gemma.md
Owners: @RissyRan, @will-cromar

Add basic args validations
  MaxText/ckpt_benchmarker.py
  MaxText/standalone_checkpointer_read.py
Owners: @RissyRan, @will-cromar

Add metric collection to maxtext convergence test (#194)
  dags/multipod/configs/gke_config.py
  dags/multipod/configs/maxtext_sweep_gce_config.py
  dags/multipod/configs/maxtext_sweep_gke_config.py
  dags/multipod/maxtext_convergence.py
Owners: @jonb377

adding helm configs to run llama 7b
  gke/gpu/llama/Chart.yaml
  gke/gpu/llama/templates/llama_70b.yaml
  gke/gpu/llama/values.yaml
Owners: @RissyRan, @will-cromar

Add pytorch/xla r2.3-rc2 tests (#198)
  dags/legacy_test/tests/pytorch/r2.3/accelerate-smoke.libsonnet
  dags/legacy_test/tests/pytorch/r2.3/ci.libsonnet
  dags/legacy_test/tests/pytorch/r2.3/common.libsonnet
  dags/legacy_test/tests/pytorch/r2.3/hf-bert.libsonnet
  dags/legacy_test/tests/pytorch/r2.3/hf-diffusers.libsonnet
  dags/legacy_test/tests/pytorch/r2.3/llama2-model.libsonnet
  dags/legacy_test/tests/pytorch/r2.3/mnist.libsonnet
  dags/legacy_test/tests/pytorch/r2.3/resnet50-mp.libsonnet
  dags/legacy_test/tests/pytorch/r2.3/targets.jsonnet
  dags/pytorch_xla/r2_3.py
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

Install TransformerEngine needed for FlashAttention.
  setup.sh
Owners: @RissyRan, @will-cromar

Install TransformerEngine needed for FlashAttention.
  setup.sh
Owners: @RissyRan, @will-cromar

Add flash attention
  constraints.txt
  setup.sh
Owners: @RissyRan, @will-cromar

Revert "Fix the issue of creating 8 processes per GPU."
  MaxText/max_utils.py
  gpu_multi_process_run.sh
Owners: @RissyRan, @will-cromar

Fix error message: the config is not necessarily configs/base.yml
  MaxText/pyconfig.py
Owners: @RissyRan, @will-cromar

changing the image
  gke/gpu/llama/values.yaml
Owners: @RissyRan, @will-cromar

adding flash attention
  gke/gpu/llama/templates/llama_70b.yaml
  gke/gpu/llama/values.yaml
Owners: @RissyRan, @will-cromar

minor nit
  gke/gpu/llama/templates/llama_70b.yaml
Owners: @RissyRan, @will-cromar

changing name to 7b
  gke/gpu/llama/templates/llama_7b.yaml
Owners: @RissyRan, @will-cromar

Example migration of Multipod XL ML test (#192)
  dags/multipod/configs/legacy_unit_test.py
  dags/multipod/legacy.py
  dags/multipod/legacy_tests/gpt1-like.py
  scripts/dag-check.sh
  scripts/local-airflow.sh
  xlml/utils/xpk.py
Owners: @jonb377, @RissyRan, @will-cromar

Adds microbenchmarking and uses standard 1e9 for memory calcs.
  MaxText/configs/tpu_smoke_test.yml
  MaxText/generate_param_only_checkpoint.py
  MaxText/inference_microbenchmark.py
  MaxText/inference_scratch/analyze_sharegpt.py
  MaxText/inference_scratch/run_inference_microbenchmark.sh
  MaxText/max_utils.py
  MaxText/maxengine_server.py
  MaxText/maxtext_utils.py
  MaxText/pyconfig.py
  MaxText/tests/inference_microbenchmark_smoke_test.py
  MaxText/train.py
  pedagogical_examples/shardings.py
Owners: @RissyRan, @will-cromar

Format fix for contributing process (#200)
  docs/contributing.md
Owners: @RissyRan, @will-cromar

Add support for reporting output tokens instead of total tokens
  MaxText/maxengine.py
Owners: @RissyRan, @will-cromar

Add network settings to MXLA perf tests. (#202)
  dags/multipod/configs/gke_config.py
Owners: @jonb377

copy test scripts from release tag (#201)
  dags/legacy_test/tests/pytorch/r2.3/common.libsonnet
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23
