Repository AI-Hypercomputer/maxtext, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng, @michelle-yooh, @patemotter, @parambole, @lukebaumann, @shauryagup, @RoshaniN, @jshin1394, @liudangyi, @mitalisi, @gpolovets1, @mailvijayasingh, @jrplatin, @lumosis, @SujeethJinesh

.github/CODEOWNERS:

* @gobbleturk @khatwanimohit @bvandermoon @vipannalla @RissyRan @richjames0 @gagika @shralex @yangyuwei @SurbhiJainUSC @hengtaoguo @A9isha @aireenmei @NuojCheng

# Features
src/MaxText/experimental/rl @A9isha @khatwanimohit @gagika @richjames0
src/MaxText/input_pipeline @aireenmei @SurbhiJainUSC @richjames0
src/MaxText/kernels/megablox @RissyRan @michelle-yooh @gagika @richjames0
src/MaxText/kernels/ragged_attention.py @patemotter @vipannalla @richjames0
src/MaxText/layers/pipeline.py @gobbleturk @richjames0
src/MaxText/layers/moe.py @RissyRan @michelle-yooh @gagika @richjames0
src/MaxText/layers/multi_token_prediction.py @parambole @RissyRan @gagika @richjames0
src/MaxText/elastic_train.py @lukebaumann @shauryagup @RoshaniN
src/MaxText/layers/quantizations.py @khatwanimohit @jshin1394 @liudangyi @richjames0

# Inference
src/MaxText/tests/inference @vipannalla @mitalisi @gpolovets1 @mailvijayasingh @jrplatin @patemotter @lumosis @richjames0
src/MaxText/inference @vipannalla @mitalisi @gpolovets1 @mailvijayasingh @jrplatin @patemotter @lumosis @richjames0
src/MaxText/inference_mlperf @vipannalla @mitalisi @gpolovets1 @mailvijayasingh @jrplatin @patemotter @lumosis @richjames0

# Dockerfiles and dependencies
*.Dockerfile @bvandermoon @yangyuwei @parambole @richjames0
*.txt @bvandermoon @yangyuwei @parambole @richjames0

# Workflow files
.github/workflows @gobbleturk @khatwanimohit @shralex @parambole @richjames0

# Benchmarking/Recipes
benchmarks @SujeethJinesh @bvandermoon @richjames0 @shralex @vipannalla @mitalisi @RissyRan @shauryagup

update
  MaxText/checkpointing.py
  benchmarks/convergence/convergence_utils.py
  benchmarks/maxtext_xpk_runner.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng, @SujeethJinesh, @mitalisi, @shauryagup

inference without continous batching
  MaxText/experimental/rl/grpo_trainer.py
  MaxText/experimental/rl/grpo_utils.py
  MaxText/inference/offline_engine.py
  MaxText/tests/inference/benchmark_offline_engine.py
  end_to_end/tpu/test_grpo.sh
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

xprof user guide
  docs/guides/xprof_user_guide.md
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

Change attention mask type to uint8 for TE
  src/MaxText/layers/attention_op.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

fix import statement for convert_deepseek_family_ckpt
  src/MaxText/convert_deepseek_family_unscanned_ckpt.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

clean up image links
  docs/guides/xprof_user_guide.md
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

server start with argv
  benchmarks/api_server/maxtext_generator.py
  benchmarks/api_server/maxtext_server.py
  benchmarks/api_server/server_utils.py
  benchmarks/api_server/start_server.sh
Owners: @SujeethJinesh, @bvandermoon, @richjames0, @shralex, @vipannalla, @mitalisi, @RissyRan, @shauryagup

fresh state
  benchmarks/api_server/maxtext_generator.py
Owners: @SujeethJinesh, @bvandermoon, @richjames0, @shralex, @vipannalla, @mitalisi, @RissyRan, @shauryagup

MaxText OpenAI Format RestFul API Server
  benchmarks/api_server/maxtext_generator.py
  benchmarks/api_server/maxtext_server.py
  benchmarks/api_server/server_models.py
  benchmarks/api_server/server_utils.py
  benchmarks/api_server/start_server.sh
  requirements.txt
  src/MaxText/maxengine.py
Owners: @SujeethJinesh, @bvandermoon, @richjames0, @shralex, @vipannalla, @mitalisi, @RissyRan, @shauryagup, @yangyuwei, @parambole, @gobbleturk, @khatwanimohit, @gagika, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

Ensure HF_TOKEN is set for checkpoint conversion tests
  end_to_end/tpu/gemma2/2b/test_gemma2_to_hf.sh
  end_to_end/tpu/gemma2/2b/test_gemma2_to_mt.sh
  end_to_end/tpu/gemma3/4b/test_gemma3_to_hf.sh
  end_to_end/tpu/gemma3/4b/test_gemma3_to_mt.sh
  end_to_end/tpu/qwen3/4b/test_qwen3_to_hf.sh
  end_to_end/tpu/qwen3/4b/test_qwen3_to_mt.sh
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

[benchmarks] Fix xpk path to be `$HOME/xpk` rather than `maxtext/xpk`
  benchmarks/benchmark_runner.py
  benchmarks/benchmark_utils.py
  benchmarks/maxtext_xpk_runner.py
  benchmarks/recipes/args_helper.py
  benchmarks/recipes/pw_elastic_training_recipe.py
  benchmarks/recipes/pw_long_running_recipe.py
  benchmarks/recipes/pw_mcjax_benchmark_recipe.py
  benchmarks/recipes/pw_mcjax_checkpoint_benchmark_recipe.py
  benchmarks/recipes/pw_remote_python_recipe.py
  benchmarks/recipes/pw_suspend_resume.py
Owners: @SujeethJinesh, @bvandermoon, @richjames0, @shralex, @vipannalla, @mitalisi, @RissyRan, @shauryagup

Fix projection initialization in MLA Attention class. Enhance MLA layer tests to verify projection layers match the expectation.
  src/MaxText/layers/attention_mla.py
  src/MaxText/layers/attentions.py
  src/MaxText/layers/deepseek.py
  src/MaxText/max_utils.py
  tests/attention_test.py
  tests/maxtext_utils_test.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

[.github/workflows/*.yml] Update all `uses:` to latest tagged version ; ensure license is present on each file
  .github/workflows/AddLabel.yml
  .github/workflows/CPUTests.yml
  .github/workflows/RunTests.yml
  .github/workflows/UploadDockerImages.yml
  .github/workflows/build_upload_internal.yml
  .github/workflows/require-checklist.yml
  .github/workflows/run_tests_internal.yml
  .github/workflows/stale.yml
Owners: @gobbleturk, @khatwanimohit, @shralex, @parambole, @richjames0

Easy path setup
  MaxText/examples/grpo_llama3_demo.ipynb
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

Easy HF setup
  MaxText/examples/grpo_llama3_demo.ipynb
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

fix and simplify
  MaxText/examples/sft_llama3_demo.ipynb
  MaxText/examples/sft_llama3_nb_test.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

Handle EOS and harmony
  benchmarks/api_server/maxtext_generator.py
  benchmarks/api_server/maxtext_server.py
Owners: @SujeethJinesh, @bvandermoon, @richjames0, @shralex, @vipannalla, @mitalisi, @RissyRan, @shauryagup

Resolved comments
  docs/guides/jax_ai_libraries_chosen.md
  docs/guides/run_maxtext_localhost.md
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

minor fixes
  MaxText/layers/moe.py
  MaxText/layers/qwen3_sharding.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

Enable padding_batch for data pipelines
  docs/guides/data_input_pipeline.md
  src/MaxText/configs/base.yml
  src/MaxText/data_loader.py
  src/MaxText/input_pipeline/_grain_data_processing.py
  src/MaxText/input_pipeline/_hf_data_processing.py
  src/MaxText/input_pipeline/_input_pipeline_utils.py
  src/MaxText/input_pipeline/_tfds_data_processing.py
  src/MaxText/multihost_dataloading.py
  src/MaxText/pyconfig.py
  src/MaxText/train.py
  src/MaxText/train_utils.py
  tests/sft_data_processing_test.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

streamlining the example
  MaxText/examples/sft_llama3_demo.ipynb
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

streamlining the example
  MaxText/examples/sft_llama3_demo.ipynb
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

add back transpose axes
  MaxText/layers/llama2_sharding.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

tidy formatting
  MaxText/layers/llama2_sharding.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

another tidy
  MaxText/layers/llama2_sharding.py
  MaxText/layers/qwen3_sharding.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

Add logging for unsupported leaf types in calculate_bytes_from_pytree
  src/MaxText/max_utils.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

update comment
  MaxText/configs/base.yml
  MaxText/convert_gpt_oss_unscanned_ckpt.py
  MaxText/layers/embeddings.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

Fix TP sharding issue
  src/MaxText/layers/attention_op.py
  src/MaxText/layers/moe.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng, @michelle-yooh

minor fixes
  MaxText/layers/llama2_sharding.py
  MaxText/layers/qwen3_sharding.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

formatting of llama rules
  MaxText/layers/llama2_sharding.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

add tensor name mappings back
  MaxText/layers/llama2_sharding.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

remove v2 rules as they're in the v2 branch
  MaxText/layers/llama2_sharding.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

improve formatting
  MaxText/layers/qwen3_sharding.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

introduce a sharding override class
  MaxText/layers/qwen3_sharding.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

remove redundant line
  MaxText/layers/qwen3_sharding.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

add vocab tiling
  src/MaxText/configs/base.yml
  src/MaxText/layers/decoders.py
  src/MaxText/layers/models.py
  src/MaxText/maxtext_utils.py
  src/MaxText/train.py
  tests/vocab_tiling_test.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

scan conversion
  MaxText/convert_gpt_oss_ckpt.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng

Accept suggestions from review
  docs/development.md
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @NuojCheng
