Repository AI-Hypercomputer/maxtext, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RissyRan, @will-cromar, @sshahrokhi, @gkroiz, @chandrasekhard2, @EricLeFort, @jonb377, @JackCaoG, @vanbasten23, @ortibazar, @sganeshb, @brajiang, @wlzhg

.github/CODEOWNERS:

# @RissyRan and @will-cromar will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @RissyRan @will-cromar

dags/solutions_team/configs/flax @sshahrokhi
dags/legacy_test/tests/jax @sshahrokhi

dags/solutions_team/configs/pax @gkroiz

dags/solutions_team/configs/tensorflow @chandrasekhard2 @EricLeFort

dags/pytorch_xla @will-cromar @jonb377 @JackCaoG @vanbasten23
dags/legacy_test/tests/pytorch @will-cromar @jonb377 @JackCaoG @vanbasten23

dags/multipod @jonb377

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg

Add scripts for GPT
  run_gpt_pgo.sh
  run_gpt_pre_pgo.sh
  run_llama2_pgo.sh
  run_llama2_pre_pgo.sh
Owners: @RissyRan, @will-cromar

Add configs for llama-2 4 nodes and gpt3 1 node
  MaxText/configs/models/gpt3-22b.yml
  run_gpt3_1node.sh
  run_gpt_pgo.sh
  run_llama2_4nodes.sh
Owners: @RissyRan, @will-cromar

to be fixed up
  run_gpt3_1node.sh
Owners: @RissyRan, @will-cromar

Add CPU support
  MaxText/ckpt_benchmarker.py
  MaxText/ckpter_benchmark.py
  MaxText/configs/v5e/128b.sh
  MaxText/configs/v5e/16b.sh
  MaxText/configs/v5e/32b.sh
  MaxText/configs/v5e/64b.sh
  MaxText/configs/v5p/1024b.sh
  MaxText/max_utils.py
  MaxText/standalone_checkpointer_read.py
  MaxText/standalone_checkpointer_write.py
Owners: @RissyRan, @will-cromar

Simplify and fix llama2 test (#184)
  dags/legacy_test/tests/pytorch/nightly/llama2-model.libsonnet
  dags/pytorch_xla/nightly.py
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

Add new remat policies
  MaxText/configs/base.yml
  MaxText/layers/attentions.py
  MaxText/layers/gpt3.py
  MaxText/layers/linears.py
  MaxText/layers/models.py
  MaxText/tests/train_compile_test.py
Owners: @RissyRan, @will-cromar

[PT/XLA] Run our CI script on v5lp nightly (#186)
  dags/legacy_test/tests/pytorch/nightly/ci.libsonnet
  dags/legacy_test/tests/pytorch/nightly/targets.jsonnet
  dags/legacy_test/tests/pytorch/r2.2/targets.jsonnet
  dags/pytorch_xla/nightly.py
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

use apt-key for installing gcsfuse
  setup.sh
Owners: @RissyRan, @will-cromar

Fix the local airflow script (#183)
  deployment/cloud_composer_template.tf
  docs/contributing.md
  scripts/local-airflow.sh
Owners: @RissyRan, @will-cromar

Add support to train mode
  MaxText/ckpt_benchmarker.py
Owners: @RissyRan, @will-cromar

Misssing stuff updated
  MaxText/inference_analysis/gemma_7b.sh
  MaxText/maxengine.py
  MaxText/train.py
Owners: @RissyRan, @will-cromar

Full JetEngine Support
  MaxText/configs/base.yml
  MaxText/decode.py
  MaxText/inference_analysis/analyze_sharegpt.py
  MaxText/layers/attentions.py
  MaxText/layers/linears.py
  MaxText/layers/models.py
  MaxText/maxengine_config.py
  MaxText/maxengine_server.py
  MaxText/maxtext_utils.py
  MaxText/pyconfig.py
  MaxText/train.py
  end_to_end/test_gemma.sh
Owners: @RissyRan, @will-cromar

[PT/XLA] Install expecttest in CI test script (#187)
  dags/legacy_test/tests/pytorch/nightly/ci.libsonnet
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

Add basic inheritance for YAML config files using base_config attribute.
  MaxText/configs/gpu_smoke_test.yml
  MaxText/pyconfig.py
  MaxText/tests/train_gpu_smoke_test.py
Owners: @RissyRan, @will-cromar

Fix head post copybara force push
  MaxText/layers/attentions.py
  MaxText/pyconfig.py
  MaxText/standalone_checkpointer.py
  MaxText/train_compile.py
  end_to_end/test_convergence_1b_params.sh
  maxtext_dependencies.Dockerfile
  pedagogical_examples/shardings.py
Owners: @RissyRan, @will-cromar

Fix head post g3 push
  MaxText/pyconfig.py
Owners: @RissyRan, @will-cromar

Added legacy decode and Wrangling checkpointing
  MaxText/generate_param_only_checkpoint.py
  MaxText/legacy_decode.py
  converter.sh
  my-test_gemma_7b.sh
  my_test_gemma.sh
Owners: @RissyRan, @will-cromar

Copybara import of the project:
  end_to_end/test_llama2.sh
Owners: @RissyRan, @will-cromar

Config for benchmarking single-host 7b llama2.
  MaxText/configs/llama2_7b_single_host_gpu.yml
  MaxText/configs/models/llama2-7b.yml
Owners: @RissyRan, @will-cromar

[PT/XLA] Delete unused test configs (#185)
  dags/legacy_test/tests/pytorch/nightly/hf-glue.libsonnet
  dags/legacy_test/tests/pytorch/nightly/hf-llm.libsonnet
  dags/legacy_test/tests/pytorch/nightly/sd-model.libsonnet
  dags/legacy_test/tests/pytorch/nightly/targets.jsonnet
  dags/legacy_test/tests/pytorch/r2.2/accelerate-smoke.libsonnet
  dags/legacy_test/tests/pytorch/r2.2/common.libsonnet
  dags/legacy_test/tests/pytorch/r2.2/hf-bert.libsonnet
  dags/legacy_test/tests/pytorch/r2.2/hf-diffusers.libsonnet
  dags/legacy_test/tests/pytorch/r2.2/hf-glue.libsonnet
  dags/legacy_test/tests/pytorch/r2.2/hf-llm.libsonnet
  dags/legacy_test/tests/pytorch/r2.2/llama2-model.libsonnet
  dags/legacy_test/tests/pytorch/r2.2/mnist.libsonnet
  dags/legacy_test/tests/pytorch/r2.2/resnet50-mp.libsonnet
  dags/legacy_test/tests/pytorch/r2.2/sd-model.libsonnet
  dags/legacy_test/tests/pytorch/r2.2/targets.jsonnet
  dags/legacy_test/tests/pytorch/targets.jsonnet
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

Use flash attention for llama2_7b_single_host config
  MaxText/configs/llama2_7b_single_host_gpu.yml
  MaxText/layers/attentions.py
Owners: @RissyRan, @will-cromar

update end_to_end/test_llama2.sh to include checkpoint conversion in the test
  end_to_end/test_llama2.sh
Owners: @RissyRan, @will-cromar

Update setup.sh
  setup.sh
Owners: @RissyRan, @will-cromar

[PT/XLA] Add missing deps for CI test (#189)
  dags/legacy_test/tests/pytorch/nightly/ci.libsonnet
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

fix compatibility with orbax new api
  MaxText/checkpointing.py
  MaxText/generate_param_only_checkpoint.py
  MaxText/train.py
  end_to_end/test_generate_param_only_checkpoint.sh
  end_to_end/test_llama2.sh
Owners: @RissyRan, @will-cromar

'can you cr'
  MaxText/generate_param_only_checkpoint.py
  MaxText/inference_analysis/gemma_7b.sh
  converter.sh
Owners: @RissyRan, @will-cromar

Add gpt3 scripts
  MaxText/configs/models/gpt3-22b.yml
  maxtext_runner.Dockerfile
  run_gpt3_16nodes.sh
  run_gpt3_1node.sh
  run_gpt3_4nodes.sh
  run_llama2_16nodes.sh
  run_llama2_1node.sh
Owners: @RissyRan, @will-cromar

Add training tests to Mistral and Mixtral
  end_to_end/test_mistral.sh
  end_to_end/test_mixtral.sh
Owners: @RissyRan, @will-cromar

Use fake token to bypass torchbench HF init check (#191)
  dags/pytorch_xla/configs/pytorchxla_torchbench_config.py
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

Update setup.sh
  setup.sh
Owners: @RissyRan, @will-cromar

Adding support for KV Cache Quantization.
  MaxText/configs/base.yml
  MaxText/layers/attentions.py
  MaxText/layers/quantizations.py
  MaxText/tests/kvcache_quant_test.py
Owners: @RissyRan, @will-cromar

keep only proj for offload
  MaxText/layers/attentions.py
  MaxText/layers/models.py
Owners: @RissyRan, @will-cromar

remove shape debug lines
  MaxText/max_utils.py
Owners: @RissyRan, @will-cromar

Share 1B loss data
  MaxText/standalone_checkpointer.py
  loss_data.csv
  maxtext_dependencies.Dockerfile
Owners: @RissyRan, @will-cromar

Share 1B loss data
  loss_data.csv
Owners: @RissyRan, @will-cromar

Allow running xpk workloads with standalone Airflow (#190)
  .github/requirements.txt
  dags/examples/xpk_example_dag.py
  deployment/cloud_composer_template.tf
  docs/contributing.md
  scripts/local-airflow.sh
  xlml/apis/task.py
  xlml/utils/xpk.py
Owners: @RissyRan, @will-cromar

pin orbax to 5.3
  requirements.txt
Owners: @RissyRan, @will-cromar

add config document
  MaxText/configs/base.yml
  MaxText/layers/models.py
Owners: @RissyRan, @will-cromar

Add nightly AOT compilation GKE tests for MaxText configs (#162)
  dags/multipod/configs/gke_config.py
  dags/multipod/maxtext_configs_aot.py
  dags/multipod/maxtext_convergence.py
  dags/vm_resource.py
Owners: @jonb377, @RissyRan, @will-cromar

Jetstream 1.0
  MaxText/configs/base.yml
  MaxText/decode.py
  MaxText/inference_scratch/analyze_sharegpt.py
  MaxText/inference_scratch/gemma_7b.sh
  MaxText/layers/attentions.py
  MaxText/layers/linears.py
  MaxText/layers/models.py
  MaxText/maxengine.py
  MaxText/maxengine_config.py
  MaxText/maxengine_server.py
  MaxText/maxtext_utils.py
  MaxText/pyconfig.py
  MaxText/train.py
  end_to_end/test_gemma.sh
  end_to_end/test_mistral.sh
  pedagogical_examples/shardings.py
  requirements.txt
Owners: @RissyRan, @will-cromar
