Repository AI-Hypercomputer/maxtext, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RissyRan, @will-cromar, @sshahrokhi, @gkroiz, @chandrasekhard2, @EricLeFort, @jonb377, @JackCaoG, @vanbasten23, @ortibazar, @sganeshb, @brajiang, @wlzhg

Mitali's KV Cache Quantization
  MaxText/configs/base.yml
  MaxText/layers/attentions.py
  MaxText/layers/gemma.py
  MaxText/layers/gpt3.py
  MaxText/layers/llama2.py
  MaxText/layers/mistral.py
  MaxText/layers/models.py
  MaxText/layers/quantizations.py
  MaxText/maxengine.py
Owners: @RissyRan, @will-cromar

Initial commit.
  MaxText/experimental_decode_microbenchmark.py
  MaxText/maxtext_utils.py
Owners: @RissyRan, @will-cromar

Working prefill and decode w/ json output.
  MaxText/experimental_decode_microbenchmark.py
  correctness_gamma_7b_standalone_microbenchmark.sh
Owners: @RissyRan, @will-cromar

Fix.
  MaxText/experimental_decode_microbenchmark.py
Owners: @RissyRan, @will-cromar

Disable GPU CI tests temporarily
  .github/workflows/UnitTests.yml
Owners: @RissyRan, @will-cromar

Use local cuda12
  requirements.txt
  setup.sh
Owners: @RissyRan, @will-cromar

Pin pytype version
  .github/workflows/UnitTests.yml
Owners: @RissyRan, @will-cromar

Proposed profiling changes
  MaxText/decode.py
  MaxText/experimental_decode_microbenchmark.py
  MaxText/generate_param_only_checkpoint.py
  MaxText/max_utils.py
  MaxText/tests/kvcache_quant_test.py
  MaxText/train.py
  pedagogical_examples/shardings.py
Owners: @RissyRan, @will-cromar

Fix gemma test
  end_to_end/test_gemma.sh
Owners: @RissyRan, @will-cromar

made changes
  end_to_end/cpu/16b.sh
  end_to_end/cpu/1b.sh
  end_to_end/cpu/4b.sh
  end_to_end/cpu/8b.sh
  end_to_end/test_cpu_decode_16b.sh
  end_to_end/test_cpu_decode_8b.sh
Owners: @RissyRan, @will-cromar

switch to orbax's new API and add an opttion to restore with SingleReplicaArrayHandler
  .gitignore
  MaxText/checkpointing.py
  MaxText/configs/base.yml
  MaxText/generate_param_only_checkpoint.py
  MaxText/layers/llama2.py
  MaxText/max_utils.py
  MaxText/train.py
  end_to_end/llama_finetuning_test.sh
  end_to_end/test_gemma.sh
  end_to_end/test_generate_param_only_checkpoint.sh
  end_to_end/test_llama2.sh
  end_to_end/test_mistral.sh
  end_to_end/test_mixtral.sh
  getting_started/Run_Gemma.md
  requirements.txt
Owners: @RissyRan, @will-cromar

Update setup.sh
  setup.sh
Owners: @RissyRan, @will-cromar

Update setup.sh
  setup.sh
Owners: @RissyRan, @will-cromar

add qkv to proj to make more clear
  MaxText/configs/base.yml
Owners: @RissyRan, @will-cromar

Pin pytype version
  .github/workflows/UnitTests.yml
Owners: @RissyRan, @will-cromar

Disable GPU CI tests temporarily
  .github/workflows/UnitTests.yml
Owners: @RissyRan, @will-cromar

fix dtype bug in adam_pax
  MaxText/optimizers.py
Owners: @RissyRan, @will-cromar

Fix training command of Gemma in Readme
  getting_started/Run_Gemma.md
Owners: @RissyRan, @will-cromar

Re-enable GPU CI tests
  .github/workflows/UnitTests.yml
Owners: @RissyRan, @will-cromar

Add poetry project and locking
  .dockerignore
  poetry.lock
  poetry_start.sh
  pyproject.toml
  requirements.txt
Owners: @RissyRan, @will-cromar

Ignore failing mac dependency
  poetry.lock
  pyproject.toml
Owners: @RissyRan, @will-cromar

Revert unrelated changes
  poetry_start.sh
  requirements.txt
  setup.sh
Owners: @RissyRan, @will-cromar

Starvation repro
  MaxText/inference_scratch/gemma_7b.sh
Owners: @RissyRan, @will-cromar

Fix a flaky wget issue. (#193)
  dags/legacy_test/tests/pytorch/nightly/common.libsonnet
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

Only depend on TransformerEngine in a GPU-enabled build
  MaxText/layers/attentions.py
Owners: @RissyRan, @will-cromar

Generalize base config lookup
  MaxText/pyconfig.py
Owners: @RissyRan, @will-cromar

Fix Total TFLOP print out
  MaxText/maxtext_utils.py
Owners: @RissyRan, @will-cromar

Fix the issue of creating 8 processes per GPU.
  MaxText/max_utils.py
Owners: @RissyRan, @will-cromar

Fix the issue of creating 8 processes per GPU for gpu_multi_process_run.sh
  gpu_multi_process_run.sh
Owners: @RissyRan, @will-cromar

Lower per_device_batch_size for 22B v4 config
  MaxText/configs/v4/22b.sh
  MaxText/configs/v4/52b.sh
Owners: @RissyRan, @will-cromar

Modify convergence test to read in run_name from env
  end_to_end/test_convergence_1b_params.sh
Owners: @RissyRan, @will-cromar

Generate step trace event in the profiler
  MaxText/train.py
Owners: @RissyRan, @will-cromar

change default folder to items for ckpt in new tests
  MaxText/inference_scratch/gemma_7b.sh
  end_to_end/test_gemma.sh
Owners: @RissyRan, @will-cromar

update orbax version to the latest
  requirements.txt
Owners: @RissyRan, @will-cromar

adding scripts
  scripts/env_llama.sh
  scripts/run_llama.yaml
Owners: @RissyRan, @will-cromar

Allow support for generate param only checkpoint to do param to param
  MaxText/generate_param_only_checkpoint.py
  end_to_end/test_checkpoint_compatibility.sh
  end_to_end/test_checkpoint_resharding.sh
  end_to_end/test_checkpointing.sh
  end_to_end/test_convergence_1b_params.sh
  end_to_end/test_decode.sh
  end_to_end/test_determinism.sh
  end_to_end/test_gemma.sh
  end_to_end/test_generate_param_only_checkpoint.sh
  end_to_end/test_llama2.sh
  end_to_end/test_mistral.sh
  end_to_end/test_mixtral.sh
  end_to_end/test_tflops.sh
  end_to_end/test_tflops_16b_params.sh
  end_to_end/test_tflops_32b_params.sh
  end_to_end/test_tflops_64b_params.sh
  end_to_end/test_vocab_creation.sh
Owners: @RissyRan, @will-cromar

Fix v5litpod CI (#195)
  dags/legacy_test/tests/pytorch/nightly/ci.libsonnet
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

Constraint tf versions
  requirements.txt
Owners: @RissyRan, @will-cromar

not currently working
  scripts/env_llama.sh
  scripts/run_llama.yaml
Owners: @RissyRan, @will-cromar

Migrate MXLA tests form GCE to GKE. (#196)
  dags/multipod/configs/gke_config.py
  dags/multipod/mxla_maxtext_nightly.py
  dags/multipod/mxla_maxtext_nightly_gke.py
  dags/vm_resource.py
Owners: @jonb377, @RissyRan, @will-cromar

.github/CODEOWNERS:

# @RissyRan and @will-cromar will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @RissyRan @will-cromar

dags/solutions_team/configs/flax @sshahrokhi
dags/legacy_test/tests/jax @sshahrokhi

dags/solutions_team/configs/pax @gkroiz

dags/solutions_team/configs/tensorflow @chandrasekhard2 @EricLeFort

dags/pytorch_xla @will-cromar @jonb377 @JackCaoG @vanbasten23
dags/legacy_test/tests/pytorch @will-cromar @jonb377 @JackCaoG @vanbasten23

dags/multipod @jonb377

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg
