Repository AI-Hypercomputer/maxtext, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @michelle-yooh, @patemotter, @parambole, @lukebaumann, @shauryagup, @RoshaniN, @mitalisi, @gpolovets1, @mailvijayasingh, @jrplatin, @lumosis

Add AOT test Improve forward_pass_logit_checker.py to perform HF vs MT conversion check
  MaxText/decode.py
  MaxText/inference/paged_attention.py
  MaxText/input_pipeline/input_pipeline_interface.py
  MaxText/input_pipeline/synthetic_data_processing.py
  MaxText/kernels/splash_attention_kernel.py
  MaxText/layers/attentions.py
  MaxText/layers/deepseek.py
  MaxText/layers/embeddings.py
  MaxText/layers/gpt3.py
  MaxText/layers/initializers.py
  MaxText/layers/linears.py
  MaxText/layers/models.py
  MaxText/layers/moe.py
  MaxText/layers/normalizations.py
  MaxText/layers/quantizations.py
  MaxText/layers/qwen3.py
  MaxText/maxengine.py
  MaxText/maxtext_utils.py
  MaxText/pyconfig.py
  MaxText/tests/aot_hlo_identical_script.sh
  MaxText/tests/aot_hlo_identical_test.py
  MaxText/train.py
  MaxText/train_utils.py
  MaxText/utils/ckpt_conversion/utils/param_mapping.py
  MaxText/utils/ckpt_conversion/utils/shape_mapping.py
  MaxText/utils/ckpt_conversion/utils/utils.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @mitalisi, @gpolovets1, @mailvijayasingh, @jrplatin, @patemotter, @lumosis, @michelle-yooh

Adds a function to return a dummy input to the llama3 model.
  tunix/models/llama3/model.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

add qwix helpers
  MaxText/kernels/megablox/gmm.py
  MaxText/kernels/megablox/qwix_pallas.py
Owners: @RissyRan, @michelle-yooh, @gagika, @richjames0

Update Run_MaxText_via_xpk.md
  getting_started/Run_MaxText_via_xpk.md
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Update Run_MaxText_via_xpk.md
  getting_started/Run_MaxText_via_xpk.md
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Update Run_MaxText_via_xpk.md
  getting_started/Run_MaxText_via_xpk.md
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Fix check for dataset feature types after datasets got upgraded to 0.4.0
  MaxText/input_pipeline/_input_pipeline_utils.py
Owners: @aireenmei, @SurbhiJainUSC, @richjames0

enable llama4 scanned checkpoint conversion from hf
  MaxText/llama_or_mistral_ckpt.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Migrate Embed module to NNX
  MaxText/layers/embeddings.py
  MaxText/layers/models.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

fix runtime errors in colocated python dataloader
  MaxText/input_pipeline/_tfds_data_processing.py
  MaxText/multihost_dataloading.py
Owners: @aireenmei, @SurbhiJainUSC, @richjames0, @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @gagika, @shralex, @yangyuwei, @hengtaoguo, @A9isha

Update command to use layerwise_quantization.py
  MaxText/layerwise_quantization.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Refactor: Decouple Core Transformer Blocks
  MaxText/layers/decoders.py
  MaxText/layers/deepseek.py
  MaxText/layers/encoders.py
  MaxText/layers/llama2.py
  MaxText/layers/llama4.py
  MaxText/layers/models.py
  MaxText/layers/multi_token_prediction.py
  MaxText/tests/multi_token_prediction_test.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @parambole

add checkpoints.md
  getting_started/checkpoints.md
  getting_started/checkpoints_explain.png
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Adds the llama3 1B model for development. Smaller model is faster to iterate.
  tunix/models/llama3/model.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

[Tunix] Add data queue abstraction. Later we can add ser/de logic, ckpt, etc.
  tests/rl/grpo/grpo_learner_test.py
  tunix/rl/grpo/grpo_learner.py
  tunix/rl/queue/data_queue.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

fix 3 tests in check_llama4_layers.py
  MaxText/layers/llama4.py
  MaxText/tests/check_llama4_layers.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Automated Code Change
  MaxText/inference/paged_attention_kernel_v2.py
  MaxText/kernels/megablox/gmm.py
  MaxText/kernels/ragged_attention.py
Owners: @vipannalla, @mitalisi, @gpolovets1, @mailvijayasingh, @jrplatin, @patemotter, @lumosis, @richjames0, @RissyRan, @michelle-yooh, @gagika

Reduce line length to 80 characters.
  MaxText/layers/moe.py
Owners: @RissyRan, @michelle-yooh, @gagika, @richjames0

llama4 ckpt conversion
  MaxText/llama4_ckpt_unscanned.py
  MaxText/llama_or_mistral_ckpt.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Update prefill_packing.py
  MaxText/common_types.py
  MaxText/configs/base.yml
  MaxText/configs/rl.yml
  MaxText/inference/offline_engine.py
  MaxText/inference_utils.py
  MaxText/layers/attentions.py
  MaxText/layers/deepseek.py
  MaxText/layers/embeddings.py
  MaxText/layers/gemma2.py
  MaxText/layers/linears.py
  MaxText/layers/llama2.py
  MaxText/layers/models.py
  MaxText/maxengine.py
  MaxText/prefill_packing.py
  MaxText/tests/offline_engine_test.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @mitalisi, @gpolovets1, @mailvijayasingh, @jrplatin, @patemotter, @lumosis

convert Gpt3LayerNorm to NNX
  MaxText/layers/gpt3.py
  MaxText/layers/linears.py
  MaxText/layers/models.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Adds custom tile sizes for ragged_dot.
  MaxText/layers/moe.py
Owners: @RissyRan, @michelle-yooh, @gagika, @richjames0

Add config for Llama 3.1 in small v6e clusters
  benchmarks/maxtext_trillium_model_configs.py
  maxtext_jax_ai_image.Dockerfile
  requirements_with_jax_stable_stack_0_6_1_pipreqs.txt
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei, @parambole

Moving device_put for the kernel earlier to avoid a host convert op
  MaxText/layers/linears.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Fix type <class 'jax._src.interpreters.ad.JVPTracer'> is not a valid JAX type
  MaxText/layers/linears.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Resolve pylint errors.
  MaxText/layers/moe.py
Owners: @RissyRan, @michelle-yooh, @gagika, @richjames0

Copy `moe_test.py` to `moe_google_test.py`
  MaxText/layers/moe.py
Owners: @RissyRan, @michelle-yooh, @gagika, @richjames0

Rename `moe_google_test.py` to `moe_ragged_dot_test.py`
  MaxText/layers/moe.py
Owners: @RissyRan, @michelle-yooh, @gagika, @richjames0

Resolve pylint errors related to docstrings.
  MaxText/layers/moe.py
Owners: @RissyRan, @michelle-yooh, @gagika, @richjames0

[Pallas] Remove deprecated symbols for TPUMemorySpace, TPUCompilerParams, and TritonCompilerParams.
  MaxText/inference/paged_attention_kernel_v2.py
  MaxText/kernels/megablox/gmm.py
  MaxText/kernels/ragged_attention.py
Owners: @vipannalla, @mitalisi, @gpolovets1, @mailvijayasingh, @jrplatin, @patemotter, @lumosis, @richjames0, @RissyRan, @michelle-yooh, @gagika

Buffer metrics before writing to GCS/Tensorboard
  MaxText/elastic_train.py
  MaxText/experimental/rl/grpo_trainer.py
  MaxText/metric_logger.py
  MaxText/sft_trainer.py
  MaxText/train.py
Owners: @lukebaumann, @shauryagup, @RoshaniN, @A9isha, @khatwanimohit, @gagika, @richjames0, @gobbleturk, @bvandermoon, @vipannalla, @RissyRan, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @aireenmei

bootstrap inference worker
  examples/grpo_demo.ipynb
  tests/rl/grpo/grpo_learner_test.py
  tunix/rl/grpo/grpo_learner.py
  tunix/rl/inference/inference_worker.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

some more debugging
  MaxText/kernels/megablox/gmm.py
  MaxText/kernels/megablox/qwix_pallas.py
Owners: @RissyRan, @michelle-yooh, @gagika, @richjames0

fix
  MaxText/layers/embeddings.py
  MaxText/layers/llama4.py
  MaxText/tests/check_llama4_layers.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

add aot test
  MaxText/tests/aot_hlo_identical_script.sh
  MaxText/tests/aot_hlo_identical_test.py
  MaxText/train_compile.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

fix bidirectional_mask
  MaxText/layers/gemma3.py
Owners: @gobbleturk, @khatwanimohit, @bvandermoon, @vipannalla, @RissyRan, @richjames0, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

[.github/workflows/CPUTests.yml] Add simple `pytest` task ; [MaxText/tests/*_test.py] Progress on getting all to pass with a simple `pytest` invocation
  .github/workflows/CPUTests.yml
  MaxText/globals.py
  MaxText/tests/context_parallelism_test.py
  MaxText/tests/decode_tests.py
  MaxText/tests/elastic_train_test.py
  MaxText/tests/train_compile_test.py
  MaxText/tests/train_int8_smoke_test.py
  MaxText/tests/train_smoke_test.py
  MaxText/tests/train_using_ragged_dot_smoke_test.py
Owners: @gobbleturk, @khatwanimohit, @shralex, @parambole, @richjames0, @bvandermoon, @vipannalla, @RissyRan, @gagika, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Temp PagedAttentionOp NNX migration changes
  MaxText/inference/paged_attention.py
  MaxText/layers/attentions.py
Owners: @vipannalla, @mitalisi, @gpolovets1, @mailvijayasingh, @jrplatin, @patemotter, @lumosis, @richjames0, @gobbleturk, @khatwanimohit, @bvandermoon, @RissyRan, @gagika, @shralex, @yangyuwei, @SurbhiJainUSC, @hengtaoguo, @A9isha, @aireenmei

Go python 3.12 go
  .github/workflows/RunTests.yml
  maxtext_dependencies.Dockerfile
Owners: @gobbleturk, @khatwanimohit, @shralex, @parambole, @richjames0, @bvandermoon, @yangyuwei

Go python 3.12 go
  .github/workflows/build_upload_internal.yml
Owners: @gobbleturk, @khatwanimohit, @shralex, @parambole, @richjames0

.github/CODEOWNERS:

* @gobbleturk @khatwanimohit @bvandermoon @vipannalla @RissyRan @richjames0 @gagika @shralex @yangyuwei @SurbhiJainUSC @hengtaoguo @A9isha @aireenmei

# Features
MaxText/experimental/rl @A9isha @khatwanimohit @gagika @richjames0
MaxText/input_pipeline @aireenmei @SurbhiJainUSC @richjames0
MaxText/kernels/megablox @RissyRan @michelle-yooh @gagika @richjames0
MaxText/kernels/ragged_attention.py @patemotter @vipannalla @richjames0
MaxText/layers/pipeline.py @gobbleturk @richjames0
MaxText/layers/moe.py @RissyRan @michelle-yooh @gagika @richjames0
MaxText/layers/multi_token_prediction.py @parambole @RissyRan @gagika @richjames0
MaxText/elastic_train.py @lukebaumann @shauryagup @RoshaniN

# Inference
MaxText/tests/inference @vipannalla @mitalisi @gpolovets1 @mailvijayasingh @jrplatin @patemotter @lumosis @richjames0
MaxText/inference @vipannalla @mitalisi @gpolovets1 @mailvijayasingh @jrplatin @patemotter @lumosis @richjames0
MaxText/inference_mlperf @vipannalla @mitalisi @gpolovets1 @mailvijayasingh @jrplatin @patemotter @lumosis @richjames0

# Dockerfiles and dependencies
*.Dockerfile @bvandermoon @yangyuwei @parambole @richjames0
*.txt @bvandermoon @yangyuwei @parambole @richjames0

# Workflow files
.github/workflows @gobbleturk @khatwanimohit @shralex @parambole @richjames0
