Repository AI-Hypercomputer/maxtext, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RissyRan, @will-cromar, @sshahrokhi, @gkroiz, @chandrasekhard2, @EricLeFort, @jonb377, @JackCaoG, @vanbasten23, @ortibazar, @sganeshb, @brajiang, @wlzhg

.github/CODEOWNERS:

# @RissyRan and @will-cromar will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @RissyRan @will-cromar

dags/solutions_team/configs/flax @sshahrokhi
dags/legacy_test/tests/jax @sshahrokhi

dags/solutions_team/configs/pax @gkroiz

dags/solutions_team/configs/tensorflow @chandrasekhard2 @EricLeFort

dags/pytorch_xla @will-cromar @jonb377 @JackCaoG @vanbasten23
dags/legacy_test/tests/pytorch @will-cromar @jonb377 @JackCaoG @vanbasten23

dags/multipod @jonb377

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg

Fixes a permissions bug when cloning the models repo (#152)
  dags/solutions_team/configs/tensorflow/common.py
  dags/solutions_team/configs/tensorflow/solutionsteam_tf_2_16_supported_config.py
Owners: @chandrasekhard2, @EricLeFort

Switch ResNet50 SPMD test to use fake data (#156)
  dags/legacy_test/tests/pytorch/nightly/resnet50-mp.libsonnet
  dags/pytorch_xla/nightly.py
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

Update `skip_first_n_steps_for_profiler` (#157)
  dags/multipod/configs/maxtext_gce_config.py
Owners: @jonb377

Rename FSMT test to BERT (#158)
  dags/legacy_test/tests/pytorch/nightly/hf-bert.libsonnet
  dags/legacy_test/tests/pytorch/nightly/targets.jsonnet
  dags/legacy_test/tests/pytorch/r2.2/hf-bert.libsonnet
  dags/legacy_test/tests/pytorch/r2.2/targets.jsonnet
  dags/pytorch_xla/nightly.py
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

debugging OOM
  .github/workflows/UnitTests.yml
  MaxText/checkpointing.py
  MaxText/configs/base.yml
  MaxText/configs/models/gpt3-52k.yml
  MaxText/convert_gpt3_ckpt_from_paxml.py
  MaxText/decode.py
  MaxText/layers/embeddings.py
  MaxText/layers/linears.py
  MaxText/layers/mistral.py
  MaxText/layers/normalizations.py
  MaxText/max_utils.py
  MaxText/pyconfig.py
  MaxText/tests/gpt3_test.py
  MaxText/tests/train_compile_test.py
  MaxText/train.py
  PREFLIGHT.md
  README.md
  orbax_dependencies.Dockerfile
  pedagogical_examples/num_params_from_shards.py
  preflight.sh
Owners: @RissyRan, @will-cromar

Install jax-nightly for MODE=nightly in setup.sh
  setup.sh
Owners: @RissyRan, @will-cromar

Benchmarking script for ragged attention.
  .gitignore
  MaxText/ragged_attention_benchmarking.py
  MaxText/tests/kernels_test.py
Owners: @RissyRan, @will-cromar

Update profiler_steps=10
  dags/multipod/configs/maxtext_gce_config.py
Owners: @jonb377

Refactor the code for MaxText training on H100 GPUs via XPK.
  gke/gpu/maxtext_chart/Chart.yaml
  gke/gpu/maxtext_chart/templates/maxtext.yaml
  gke/gpu/maxtext_chart/values.yaml
  gpu_multi_process_run.sh
Owners: @RissyRan, @will-cromar

distributed dataset
  MaxText/input_pipeline/_tfds_data_processing_c4_mlperf.py
  MaxText/input_pipeline/input_pipeline_interface.py
  MaxText/train.py
Owners: @RissyRan, @will-cromar

fix ckpt dtype issue
  MaxText/layers/embeddings.py
  MaxText/layers/linears.py
  MaxText/train.py
Owners: @RissyRan, @will-cromar

allow to change dataset_path
  MaxText/configs/base.yml
  MaxText/configs/models/gpt3-175b.yml
Owners: @RissyRan, @will-cromar

update mllog
  MaxText/mllog_utils.py
  MaxText/train.py
Owners: @RissyRan, @will-cromar

disable metrics
  MaxText/train.py
Owners: @RissyRan, @will-cromar

update dataset name
  MaxText/configs/base.yml
  MaxText/configs/models/gpt3-175b.yml
Owners: @RissyRan, @will-cromar

qkv
  MaxText/layers/gpt3.py
  MaxText/layers/linears.py
Owners: @RissyRan, @will-cromar

add qkv quant
  MaxText/layers/linears.py
Owners: @RissyRan, @will-cromar

Fixed inference to work
  MaxText/experimental_decode.py
  MaxText/experimental_decode_time_autoregress.py
  MaxText/experimental_decode_time_prefill.py
  MaxText/myengine.py
Owners: @RissyRan, @will-cromar

Need to polish up the insert
  MaxText/myengine.py
  smoke.sh
Owners: @RissyRan, @will-cromar

train on lg jsonl data
  MaxText/configs/base.yml
  MaxText/convert_jsonl_to_tfrecord.py
  MaxText/input_pipeline/_tfds_data_processing.py
  MaxText/input_pipeline/input_pipeline_interface.py
  MaxText/train.py
  end_to_end/test_convergence_1b_params.sh
Owners: @RissyRan, @will-cromar

jit(vmap) not vmap(jit) and fixed a timing bug
  MaxText/kernels/ragged_attention.py
  MaxText/ragged_attention_benchmarking.py
Owners: @RissyRan, @will-cromar

Fixing tf-nightly tests (#160)
  dags/solutions_team/configs/tensorflow/common.py
Owners: @chandrasekhard2, @EricLeFort

add option to shorten convergence test steps
  end_to_end/test_convergence_1b_params.sh
Owners: @RissyRan, @will-cromar

Fixed cache write to be less insane
  MaxText/myengine.py
  smoke.sh
Owners: @RissyRan, @will-cromar

fix gpt3 conversion script
  MaxText/convert_gpt3_ckpt_from_paxml.py
Owners: @RissyRan, @will-cromar

Create te_llama2-7b.yml
  MaxText/configs/models/te_llama2-7b.yml
Owners: @RissyRan, @will-cromar

Create te_llama2.py
  MaxText/layers/te_llama2.py
Owners: @RissyRan, @will-cromar

add fp8 to models.py
  MaxText/layers/models.py
Owners: @RissyRan, @will-cromar

Adds missing WRAPT_DISABLE_EXTENSIONS=true flag (#159)
  dags/solutions_team/configs/tensorflow/solutionsteam_tf_2_16_supported_config.py
Owners: @chandrasekhard2, @EricLeFort

[PT/XLA] Remove task group prefix from PyTorch nightly test groups. (#164)
  dags/pytorch_xla/nightly.py
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

fp8 in train.py
  MaxText/train.py
Owners: @RissyRan, @will-cromar

Create te_helper.py
  MaxText/te_helper.py
Owners: @RissyRan, @will-cromar

adding fp8 to max_utils.py
  MaxText/max_utils.py
Owners: @RissyRan, @will-cromar

added te_llama2-7b
  MaxText/pyconfig.py
Owners: @RissyRan, @will-cromar

adding quant to TE model
  MaxText/layers/te_llama2.py
Owners: @RissyRan, @will-cromar

fix llama dynamo (#165)
  dags/legacy_test/tests/pytorch/nightly/llama2-model.libsonnet
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

Add `scikit-learn` to BERT test config (#167)
  dags/legacy_test/tests/pytorch/nightly/hf-bert.libsonnet
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

Working on real server
  MaxText/experimental_decode_time_prefill.py
  MaxText/maxengine_config.py
  MaxText/maxengine_server.py
  MaxText/myengine.py
  correctness_gamma_7b.sh
  test_gamma_2.sh
Owners: @RissyRan, @will-cromar

Fix bug for deltatime (#166)
  xlml/utils/tpu.py
Owners: @RissyRan, @will-cromar

changes to sync to older commit
  MaxText/input_pipeline/_tfds_data_processing.py
  MaxText/input_pipeline/input_pipeline_interface.py
  docker_upload_runner.sh
  end_to_end/test_convergence_1b_params.sh
Owners: @RissyRan, @will-cromar
