Repository AI-Hypercomputer/maxtext, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RissyRan, @will-cromar, @sshahrokhi, @gkroiz, @chandrasekhard2, @EricLeFort, @jonb377, @ortibazar, @sganeshb, @brajiang, @wlzhg

.github/CODEOWNERS:

# @RissyRan and @will-cromar will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @RissyRan @will-cromar

dags/solutions_team/configs/flax @sshahrokhi

dags/solutions_team/configs/pax @gkroiz

dags/solutions_team/configs/tensorflow @chandrasekhard2 @EricLeFort

dags/pytorch_xla @will-cromar

dags/multipod @jonb377

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg

gpt3-22b
  MaxText/configs/models/gpt3-22b.yml
  gke/gpu/start_training.sh
Owners: @RissyRan, @will-cromar

confirm good image
  .github/workflows/UnitTests.yml
  .github/workflows/UploadDockerImages.yml
Owners: @RissyRan, @will-cromar

Add a script to automate checkpointing benchmark on TPU
  .gitignore
  MaxText/ckpter_benchmark.py
  MaxText/configs/base.yml
  MaxText/configs/v5e/128b.sh
  MaxText/configs/v5e/16b.sh
  MaxText/configs/v5e/32b.sh
  MaxText/configs/v5e/64b.sh
  MaxText/standalone_checkpointer_read.py
Owners: @RissyRan, @will-cromar

runner step
  .github/workflows/UploadDockerImages.yml
Owners: @RissyRan, @will-cromar

Revert "Splash works (including MQA/GQA)."
  MaxText/layers/attentions.py
  MaxText/tests/attention_test.py
  end_to_end/test_generate_param_only_checkpoint.sh
Owners: @RissyRan, @will-cromar

use jsonl training data
  MaxText/configs/base.yml
  MaxText/convert_jsonl_to_tfrecord.py
  MaxText/input_pipeline/_tfds_data_processing.py
  MaxText/input_pipeline/input_pipeline_interface.py
  MaxText/train.py
  end_to_end/test_convergence_1b_params.sh
Owners: @RissyRan, @will-cromar

gpt3-22b
  gke/gpu/start_training.sh
Owners: @RissyRan, @will-cromar

Fix a mistake of not dirname the base config path.
  MaxText/pyconfig.py
Owners: @RissyRan, @will-cromar

Upload docker image
  .github/workflows/UploadDockerImages.yml
Owners: @RissyRan, @will-cromar

1M challenge working but slow
  1m_compile.sh
  1m_context.sh
  MaxText/layers/attentions.py
  MaxText/layers/gpt3.py
Owners: @RissyRan, @will-cromar

Add `ENABLE_PJRT_COMPATIBILITY=true` to relax the libtpu/jaxlib version check for nightly test. (#151)
  dags/multipod/configs/maxtext_gce_config.py
  dags/multipod/mxla_maxtext_nightly.py
Owners: @jonb377

add param print out
  MaxText/max_utils.py
Owners: @RissyRan, @will-cromar

Make small changes for running it via XPK.
  docker_build_dependency_image.sh
  gke/gpu/start_training.sh
Owners: @RissyRan, @will-cromar

Revert changes to docker_build_dependency_image.sh.
  docker_build_dependency_image.sh
Owners: @RissyRan, @will-cromar

use dag sensor to replace gcp wait_for_operation (#145)
  xlml/apis/task.py
  xlml/utils/gpu.py
Owners: @RissyRan, @will-cromar

qkv update kernel_out_axis
  MaxText/layers/linears.py
Owners: @RissyRan, @will-cromar

Revert "Revert "Splash works (including MQA/GQA).""
  MaxText/layers/attentions.py
  MaxText/tests/attention_test.py
  end_to_end/test_generate_param_only_checkpoint.sh
Owners: @RissyRan, @will-cromar

Trying to climb the ladder with splash
  1m_compile.sh
  MaxText/layers/attentions.py
Owners: @RissyRan, @will-cromar

add remat_policy=save_dot_except_logits
  MaxText/layers/attentions.py
  MaxText/layers/gpt3.py
  MaxText/layers/linears.py
  MaxText/layers/models.py
Owners: @RissyRan, @will-cromar

overwrite_ckpt_step
  MaxText/configs/base.yml
  MaxText/train.py
Owners: @RissyRan, @will-cromar

update
  MaxText/pyconfig.py
Owners: @RissyRan, @will-cromar

save_dot_except_logits_ffn1
  MaxText/layers/models.py
Owners: @RissyRan, @will-cromar

add pre_compile
  MaxText/configs/base.yml
  MaxText/train.py
Owners: @RissyRan, @will-cromar

add
  MaxText/configs/models/llama2-7b-add-chinese.yml
  MaxText/max_utils.py
  MaxText/optimizers.py
Owners: @RissyRan, @will-cromar

Reverted block size change
  1m_context.sh
  MaxText/layers/attentions.py
Owners: @RissyRan, @will-cromar

Support running QueuedResource TPU tests from local workstation (#143)
  docs/contributing.md
  scripts/local-airflow.sh
  xlml/utils/tpu.py
Owners: @RissyRan, @will-cromar

Clean up idle TPUs (#148)
  dags/infra/clean_up.py
  xlml/utils/tpu.py
Owners: @RissyRan, @will-cromar

Merge PyTorch DAGs together (#150)
  dags/pytorch_xla/nightly.py
  dags/pytorch_xla/pytorchxla_huggingface.py
  dags/pytorch_xla/pytorchxla_llama.py
Owners: @will-cromar
