Repository AI-Hypercomputer/maxtext, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RissyRan, @will-cromar, @sshahrokhi, @gkroiz, @chandrasekhard2, @EricLeFort, @jonb377, @JackCaoG, @vanbasten23, @ortibazar, @sganeshb, @brajiang, @wlzhg

.github/CODEOWNERS:

# @RissyRan and @will-cromar will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @RissyRan @will-cromar

dags/solutions_team/configs/flax @sshahrokhi
dags/legacy_test/tests/jax @sshahrokhi

dags/solutions_team/configs/pax @gkroiz

dags/solutions_team/configs/tensorflow @chandrasekhard2 @EricLeFort

dags/pytorch_xla @will-cromar @jonb377 @JackCaoG @vanbasten23
dags/legacy_test/tests/pytorch @will-cromar @jonb377 @JackCaoG @vanbasten23

dags/multipod @jonb377

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg

Add a script to run tpu checkpoint benchmark
  MaxText/ckpter_benchmark.py
  MaxText/max_utils.py
  MaxText/standalone_checkpointer.py
  MaxText/standalone_checkpointer_read.py
Owners: @RissyRan, @will-cromar

Increase worker memory (#169)
  deployment/cloud_composer_template.tf
Owners: @RissyRan, @will-cromar

Increase size of schedulers (#168)
  deployment/cloud_composer_template.tf
Owners: @RissyRan, @will-cromar

fix pax nightly lmcloudpsmdadam-v4-16 test (#171)
  dags/solutions_team/solutionsteam_pax_nightly_supported.py
Owners: @RissyRan, @will-cromar

Add script to automate TPU benchmark
  .gitignore
  MaxText/ckpt_benchmarker.py
  MaxText/configs/base.yml
  MaxText/configs/v5e/128b.sh
  MaxText/configs/v5e/16b.sh
  MaxText/configs/v5e/32b.sh
  MaxText/configs/v5e/64b.sh
  MaxText/max_utils.py
  MaxText/standalone_checkpointer_read.py
  MaxText/standalone_checkpointer_write.py
  MaxText/train.py
Owners: @RissyRan, @will-cromar

dummy changes
  MaxText/ckpter_benchmark.py
  MaxText/train.py
Owners: @RissyRan, @will-cromar

adding quantization to TE model
  MaxText/layers/te_llama2.py
Owners: @RissyRan, @will-cromar

adding quantization
  MaxText/layers/te_llama2.py
Owners: @RissyRan, @will-cromar

add unit test for grain ckpt
  .github/workflows/UnitTests.yml
  MaxText/tests/grain_data_processing_test.py
  end_to_end/test_checkpointing.sh
  setup.sh
  setup_gcsfuse.sh
Owners: @RissyRan, @will-cromar

check train state shardings
  MaxText/train.py
Owners: @RissyRan, @will-cromar

add offload names
  MaxText/layers/attentions.py
  MaxText/layers/models.py
Owners: @RissyRan, @will-cromar

Removing param values for which we store aqt tensors to reduce memory usage.
  MaxText/decode.py
  MaxText/layers/linears.py
  MaxText/layers/quantizations.py
  MaxText/tests/quantizations_test.py
Owners: @RissyRan, @will-cromar

Update sync up algorithm (#172)
  scripts/upload-tests.sh
Owners: @RissyRan, @will-cromar

fix postprocess issue due to provision update (#174)
  xlml/utils/metric.py
Owners: @RissyRan, @will-cromar

[PT/XLA] Use on-demand capacity for v4 tests (#170)
  dags/pytorch_xla/nightly.py
  xlml/apis/test_config.py
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23, @RissyRan

Add Pylint check (#163)
  .github/workflows/pylint-check.yml
  dags/composer_env.py
  dags/vm_resource.py
  docs/contributing.md
  scripts/.pylintrc
  scripts/code-style.sh
  xlml/apis/task.py
  xlml/apis/test_config.py
  xlml/utils/gpu.py
  xlml/utils/metric.py
  xlml/utils/metric_test.py
  xlml/utils/name_format.py
  xlml/utils/ssh.py
  xlml/utils/startup_script.py
  xlml/utils/tpu.py
Owners: @RissyRan, @will-cromar

[PT/XLA] Use us-east1-d for reserved v3-8 tests (#175)
  dags/pytorch_xla/nightly.py
Owners: @will-cromar, @jonb377, @JackCaoG, @vanbasten23

gpt3-22b
  gke/gpu/start_training.sh
Owners: @RissyRan, @will-cromar

values for llama2-7b with flash attention
  gke/gpu/maxtext_chart/values.yaml
  gke/gpu/start_training.sh
  maxtext_runner.Dockerfile
  setup.sh
Owners: @RissyRan, @will-cromar

Add llama2-7b flash script
  llama2-7b-flash.sh
Owners: @RissyRan, @will-cromar

Fix weight dtypes to float32
  MaxText/layers/attentions.py
  MaxText/layers/gemma.py
  MaxText/layers/gpt3.py
  MaxText/layers/linears.py
  MaxText/layers/llama2.py
  MaxText/layers/mistral.py
  MaxText/layers/models.py
  MaxText/layers/normalizations.py
  MaxText/tests/weight_dtypes_test.py
Owners: @RissyRan, @will-cromar

shard checkpoint if applicable
  MaxText/llama_or_mistral_ckpt.py
Owners: @RissyRan, @will-cromar

new ckpt restore api with SingleReplicaArrayHandler
  .gitignore
  MaxText/checkpointing.py
  MaxText/configs/base.yml
  MaxText/max_utils.py
  MaxText/train.py
Owners: @RissyRan, @will-cromar

Allow GPU cluster to autoscale (#176)
  deployment/clusters.tf
Owners: @RissyRan, @will-cromar

llama2-7b
  llama2-7b-flash.sh
  multihost_runner.py
  run_tcpx_container.sh
Owners: @RissyRan, @will-cromar

Add benchmark tool to automate running benchmarks
  MaxText/ckpt_benchmarker.py
  MaxText/configs/v5e/128b.sh
  MaxText/configs/v5e/16b.sh
  MaxText/configs/v5e/32b.sh
  MaxText/configs/v5e/64b.sh
  MaxText/standalone_checkpointer_write.py
Owners: @RissyRan, @will-cromar

Incremental work.
  MaxText/experimental_decode.py
  MaxText/experimental_decode_time_autoregress.py
  MaxText/maxengine_server.py
  MaxText/myengine.py
  correctness_gamma_7b.sh
  correctness_gamma_7b_standalone.sh
  smoke.sh
Owners: @RissyRan, @will-cromar

MaxText Convergence Tests (#180)
  dags/gcs_bucket.py
  dags/multipod/configs/maxtext_gke_config.py
  dags/multipod/maxtext_convergence.py
  dags/test_owner.py
  dags/vm_resource.py
Owners: @RissyRan, @will-cromar, @jonb377

Remove `head` mode for `setup.sh` since we don't use this mode anymore.
  setup.sh
Owners: @RissyRan, @will-cromar

enable_single_replica_ckpt_restoring works with orbax new api
  MaxText/checkpointing.py
  MaxText/max_utils.py
  MaxText/train.py
  docker_orbax_dependency_image.sh
  orbax_dependencies.Dockerfile
Owners: @RissyRan, @will-cromar

train on lg jsonl data
  MaxText/configs/base.yml
  MaxText/convert_jsonl_to_tfrecord.py
  MaxText/input_pipeline/_tfds_data_processing.py
  MaxText/input_pipeline/input_pipeline_interface.py
  MaxText/train.py
  end_to_end/test_convergence_1b_params.sh
Owners: @RissyRan, @will-cromar

Add defaults and documentation for setting up VSCode (#181)
  .github/dev-requirements.txt
  .github/workflows/pylint-check.yml
  .pylintrc
  .vscode/extensions.json
  .vscode/settings.json
  docs/contributing.md
  scripts/code-style.sh
Owners: @RissyRan, @will-cromar

add unit test for checkpoint compatibility between tfds and grain
  .github/workflows/UnitTests.yml
  end_to_end/eval_assert.py
  end_to_end/test_checkpoint_compatibility.sh
  end_to_end/test_checkpointing.sh
Owners: @RissyRan, @will-cromar

Catch 404 error when deleting QueuedResource (#177)
  xlml/utils/tpu.py
Owners: @RissyRan, @will-cromar

Update MetricConfig to use relative GCS filepath combine with unique GCS folder path generated in Provision (#179)
  dags/gcs_bucket.py
  dags/pytorch_xla/configs/pytorchxla_torchbench_config.py
  xlml/apis/metric_config.py
  xlml/apis/task.py
  xlml/utils/metric.py
  xlml/utils/name_format.py
Owners: @RissyRan, @will-cromar, @jonb377, @JackCaoG, @vanbasten23

build and upload gpu docker images
  .github/workflows/UploadDockerImages.yml
  setup.sh
Owners: @RissyRan, @will-cromar

Apply max line length to 80 (#178)
  .github/workflows/pyink-check.yml
  .github/workflows/pylint-check.yml
  .pre-commit-config.yaml
  .pylintrc
  dags/examples/maxtext_sweep_gce_example_dag.py
  dags/examples/maxtext_sweep_gke_example_dag.py
  dags/multipod/configs/maxtext_gce_config.py
  dags/multipod/configs/maxtext_sweep_gce_config.py
  dags/multipod/configs/maxtext_sweep_gke_config.py
  dags/pytorch_xla/configs/pytorchxla_torchbench_config.py
  dags/pytorch_xla/nightly.py
  dags/solutions_team/configs/flax/solutionsteam_flax_latest_supported_config.py
  dags/solutions_team/configs/pax/solutionsteam_pax_supported_config.py
  dags/solutions_team/configs/tensorflow/solutionsteam_tf_2_16_supported_config.py
  dags/solutions_team/configs/tensorflow/solutionsteam_tf_nightly_supported_config.py
  dags/solutions_team/solutionsteam_flax_latest_supported.py
  dags/solutions_team/solutionsteam_jax_integration.py
  dags/solutions_team/solutionsteam_pax_nightly_supported.py
  scripts/code-style.sh
  xlml/apis/gcp_config.py
  xlml/apis/metric_config.py
  xlml/apis/task.py
  xlml/apis/test_config.py
  xlml/utils/bigquery.py
  xlml/utils/bigquery_test.py
  xlml/utils/composer.py
  xlml/utils/gke.py
  xlml/utils/gpu.py
  xlml/utils/metric.py
  xlml/utils/metric_test.py
  xlml/utils/name_format.py
  xlml/utils/tpu.py
  xlml/utils/xpk.py
Owners: @RissyRan, @will-cromar, @jonb377, @JackCaoG, @vanbasten23, @sshahrokhi, @gkroiz, @chandrasekhard2, @EricLeFort

Update documentation to match property name in base.yml
  README.md
Owners: @RissyRan, @will-cromar

fix restoring wwith new api ithout single replica
  MaxText/checkpointing.py
Owners: @RissyRan, @will-cromar

Add scripts for running PGO
  MaxText/cuda_api.py
  MaxText/train.py
  docker_build_dependency_image.sh
  run_llama2_pgo.sh
  run_llama2_pre_pgo.sh
Owners: @RissyRan, @will-cromar
